<%= form_with(model: @article, local: true) do |form| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= image_tag(article.image.url) if article.image && article.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <%= form.hidden_field :user_id, :value => current_user.id%>

  <h3>Procedure</h3>

      <%= form.fields_for :procedures, local: true, id: 'js-procedure-field'  do |f| %>

    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    </div>

      <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>

      <div class="field">
      <%= f.label :date %>
      <%= f.date_field :date %>
    </div>

      <div class="field">
      <%= f.label :deadline %>
      <%= f.date_field :deadline %>
    </div>
  <% end %>

  <div class="add-botton-box">
    <%= link_to_add_association "追加ボタン", form, :procedures,
    class: 'add_fields',
    id: 'add-btn',
    data: {
      association_insertion_node: '#detail-association-insertion-point',
      association_insertion_method: 'after'
      }
    %>
  </div>

  <div id="detail-association-insertion-point"></div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
