<%= form_with(model: @article, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= image_tag(article.image.url) if article.image && article.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <br>
    <% Category.all.each do |category| %>
      <%= form.check_box :category_ids, { multiple: true, checked: category[:checked], disabled: category[:disabled], include_hidden: false }, category[:id] %>
      <%= form.label :category_ids, category.name, class:"label-bg", value: category[:id]%>
    <% end %>
  </div>

  <div class="field">
      <%= form.select :status, Article.statuses.map { |k, v| [t("article.status.#{k}"), k] }, selected: @article.status %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.date_field :deadline %>
  </div>

  <%= form.hidden_field :user_id, :value => current_user.id%>

  <h3>手順</h3>

  <div class="add-botton-box">
    <%= link_to_add_association "手順を追加", form, :procedures,
    class: 'add_fields',
    id: 'add-btn',
    data: {
      association_insertion_node: '#detail-association-insertion-point',
      association_insertion_method: 'before'
      }
    %>
  </div>

  <div id="detail-association-insertion-point"></div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
