<h3>以下の内容で、投稿する</h3>

<%= form_with(model: @article, url: articles_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :image %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :category %>
  <%= form.hidden_field :status %>
  <%= form.hidden_field :date %>
  <%= form.hidden_field :deadline %>

  <p>タイトル:<%= @article.title %></p>

  <p>サムネイル</p>
  <% if @article.image? %>
    <%= image_tag @article.image.url, class: "confirm_article_image" %>
  <% else %>
    <%= image_tag 'no_image.png', size: '300x200', class: "confirm_article_image" %>
  <% end %>

  <p>選択したカテゴリ</p>
      <%= form.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
        <%= b.label { b.check_box + b.text } %>
    <% end %>

  <% n = 0 %>
  <p>入力された内容</p>
  <%= form.fields_for :procedures do |procedure| %>
    <%= procedure.hidden_field :image %>
    <%= procedure.hidden_field :image_cache %>
    <%= procedure.hidden_field :content %>

      <% if procedure.object.image? %>
      <h4> 手順<%= n += 1 %> </h4>
        <%= image_tag procedure.object.image.url, class: "procedure_image" %>
      <% end %>
      <h4><%= procedure.object.content %></h4>
  <% end %>

  <p>作業日:<%= @article.date.strftime("%Y/%m/%d") %></p>
  <p>期限:<%= @article.deadline.strftime("%Y/%m/%d") %></p>
  <%= form.submit  "登録する" %>

  <%= form.submit "戻る", name: 'back' %>
<% end %>
