<h3>以下の内容で、投稿する</h3>

<%= form_with(model: @article, url: articles_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :image %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :category %>
  <%= form.hidden_field :status %>
  <%= form.hidden_field :date %>
  <%= form.hidden_field :deadline %>

  <p>タイトル:<%= @article.title %></p>

  <p>サムネイル</p>
  <% if @article.image? %>
    <%= image_tag @article.image.url, class: "confirm_article_image" %>
  <% else %>
    <%= image_tag 'no_image.png', class: "confirm_article_image" %>
  <% end %>

  <p>選択したカテゴリ</p>
      <%= form.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
        <%= b.label { b.check_box + b.text } %>
    <% end %>

  <p>入力された内容</p>
  <% @article.procedures.each.with_index(1) do |procedure, index|%>
    <h4><%= '手順'"#{index}" %></h4>
    <% if procedure.image? %>
      <%= image_tag procedure.image.url, class: "procedure_image" %>
    <% end %>
    <%= procedure.content %>
  <% end %>

  <p>作業日:<%= @article.date.strftime("%Y/%m/%d") %></p>
  <p>期限:<%= @article.deadline.strftime("%Y/%m/%d") %></p>
  <%= form.submit  "登録する" %>

  <%= form.submit "戻る", name: 'back' %>
<% end %>
