<h3>検索</h3>
<%= search_form_for @article_search  do |f| %>
  <%= f.select( :sorts, { '並び替え': '並び替え', '古い順': 'updated_at asc', '新しい順': 'updated_at desc', 'いいね!の多い順': 'likes_count desc' } , { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()'} ) %>
  <%= f.search_field :title_cont, placeholder: 'タイトル検索' %>
  <%= f.submit '検索' %>
  <br>
  <%= f.collection_check_boxes :categories_id_in, Category.all, :id ,:name %>
  <%= f.label :categories_id_in, "カテゴリ："%>
  <br>
<% end %>
<br><hr>
<table>
  <thead>
  <% if @article_search.present? %>
      <p>表示件数は：<%= @count %>件です</p>
  <% end %>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td class="article_image">
            <% if article.image? %>
              <%= link_to (image_tag article.image.url), article %>
            <% else %>
              <%= link_to (image_tag 'no_image.png'),article %>
            <% end %>
        </td>
        <td><%= article.title %></td>
        <td>
          <% article.categories.each do |category| %>
            <%= category.name %>
          <% end %>
        </td>
        <td><%= link_to article.user.name, user_path(article.user), class: "link-to" %></td>
        <td><%= article.updated_at.strftime("%Y/%m/%d") %></td>
        <td>
          <i class="fa fa-heart unlike-btn"></i>
          <%= article.liked_users.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <div class='p-top__paginate'><%= paginate(@articles) %></div>
</div>