<tbody>
  <div class="container-fluid col-md-10">
    <div class="row">
      <div class="col-md-3">
        <h3>検索</h3>
        <%= search_form_for @article_search  do |f| %>
          <%= f.search_field :title_cont, placeholder: 'タイトル検索' %>
          <%= f.submit '検索' %><br>
          <%= f.collection_check_boxes :categories_id_in, Category.all, :id ,:name %>
          <%= f.select( :sorts, { '並び替え': '並び替え', '古い順': 'updated_at asc', '新しい順': 'updated_at desc', 'いいね!の多い順': 'likes_count desc' } , { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()'} ) %>
        <% end %>

        <br><hr>
        <thead>
          <% if @article_search.present? %>
            <p>表示件数：<%= @count %>件</p>
          <% end %>
        </thead>
      </div>

      <div class="col-md-9">
        <div class="card-deck">
          <% @articles.each do |article| %>
            <div class="col-md-3">
              <div class="card text-center">
                <% if article.image? %>
                  <%= link_to (image_tag article.image.url ,size: '230x200', class: 'img_wrap mx-auto d-block'), article %>
                <% else %>
                  <%= link_to (image_tag 'no_image.png', size: '230x200', class: 'img_wrap mx-auto d-block'), article %>
                <% end %>
                <p><%= article.title %></p>
                <p>
                <% article.categories.each do |category| %>
                  <%= category.name %>
                <% end %>
                </p>
                <p><%= link_to article.user.name, user_path(article.user), class: "link-to" %></p>
                <p>更新日時:<%= article.updated_at.strftime("%Y/%m/%d") %><i class="fa fa-heart unlike-btn ml-4"></i><%= article.liked_users.count %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</tbody>
<div class="container">
  <div class="row col-md-10 justify-content-center mt-5">
    <div class='p-top__paginate' style="margin-bottom: 300px;"><%= paginate @articles %></div>
  </div>
</div>
