<h3>検索</h3>
<%= search_form_for @article_search  do |f| %>
  <%= f.search_field :title_cont, placeholder: 'タイトル検索' %>
  <%= f.submit '検索' %>
  <br>
    <% Category.all.each do |category| %>
      <%= f.check_box :category_ids, { multiple: true, checked: category[:checked], disabled: category[:disabled], include_hidden: false }, category[:id] %>
      <%= f.label :category_ids, category.name, class:"label-bg", value: category[:id]%>
    <% end %>
    <br>
<% end %>
<br><hr>
<div class='p-top'>
<table>
  <thead>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td class="image">
          <%#= link_to (image_tag article.image.url if article.image.present?), article %>
            <% if article.image? %>
              <%= link_to (image_tag article.image.url), article ,class: "confirm_article_image" %>
            <% else %>
              <%= link_to (image_tag 'no_image.png'),article ,class: "article_image" %>
            <% end %>
        </td>
        <td><%= article.title %></td>
        <td>
          <% article.categories.each do |category| %>
            <%= category.name %>
          <% end %>
        </td>
        <td><%= link_to article.user.name, user_path(article.user), class: "link-to" %></td>
        <td>
          <i class="fa fa-heart unlike-btn"></i>
          <%= article.liked_users.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <%= paginate(@articles) %>
</div>