<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag @article.image.url %>
</p>
<p>
  <strong>Category:</strong>
  <% @article.categories.each do |category| %>
    <%= category.name %>
  <% end %>
</p>
<p>
  <strong>Status:</strong>
  <%= @article.status %>
</p>

<% n = 0 %>
<% @procedures.each do |procedure|%>
  <h4>手順<%= n += 1 %></h4>
  <p>
    <strong>:image</strong>
    <%= image_tag procedure.image.url %>
  </p>
  <p>
    <strong>:content</strong>
    <%= procedure.content %>
  </p>
<% end %>

<p>
  <strong>:date</strong>
  <%= @article.date.strftime("%Y年%m月%d日") %>
</p>

<p>
  <strong>:deadline</strong>
  <%= @article.deadline.strftime("%Y年%m月%d日") %>
</p>

<% if user_signed_in? %>
  <%= render 'favorites/form', article: @article.id %>

<div id = "like_<%= @article.id %>">
  <%= render partial: "likes/like", locals: { article: @article } %>
</div>

<%= link_to @article.user.name, user_path(@article.user) %>

<%= render 'users/follow_form', user: @article.user %>
<% end %>

<p>コメント一覧</p>

<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments, article: @article } %>
</div>

<%= render partial: 'comments/form', locals: { comment: @comment, article: @article } %>

<%= link_to 'Edit', edit_article_path(@article) %> |