<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag @article.image.url %>
</p>
<p>
  <strong>Status:</strong>
  <%= @article.status %>
</p>

<% @procedures.each do |procedure|%>
  <h3>Procedure</h3>
  <p>
    <strong>:image</strong>
    <%= image_tag procedure.image.url %>
  </p>
  <p>
    <strong>:content</strong>
    <%= procedure.content %>
  </p>
  <p>
    <strong>:date</strong>
    <%= procedure.date.strftime("%Y年%m月%d日") %>
  </p>
  <p>
    <strong>:deadline</strong>
    <%= procedure.deadline.strftime("%Y年%m月%d日") %>
  </p>
<% end %>

<% unless @article.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(article_id: @article.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<div id = "like_<%= @article.id %>">
  <%= render partial: "likes/like", locals: { article: @article } %>
</div>

<%= render 'users/follow_form', user: @article.user %>

<p>コメント一覧</p>

<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments, article: @article } %>
</div>

<%= render partial: 'comments/form', locals: { comment: @comment, article: @article } %>

<%= @article.user.name %>
<br>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
