<div class="container mb-5">
  <div class="row">
    <% if @article.status == 'private' %>
      <h3 class="title mt-5">この記事は非公開です</h3>
    <% end %>
  </div>
  <% if @article.status == 'private' %>
    <h4>~目標の期日までに終わらせましょう~</h4>
  <% end %>
</div>

<div class="container mb-5">
  <div class="row">
    <h3 class="title">記事の詳細ページ</h3>
  </div>
</div>

<div class="container">
  <h3 class="title mb-4">タイトル：<%= @article.title %></h3>
    <div class="row col-md-8 mx-auto">
    <% if @article.image? %>
      <%= image_tag @article.image.url, class: "article_image", size: '300x300' %>
    <% else %>
      <%= image_tag 'no_image.png', size: '300x300', class: "article_image" %>
    <% end %>
  <p>
  </div>
</div>

<div class="container my-5">
  <div class="row col-md-8 mx-auto">
      <h4 class="mr-3">カテゴリ:</h4>
      <% @article.categories.each do |category| %>
        <h4 class="mr-3">□<%= category.name %></h4>
      <% end %>
    </p>
  </div>
</div>

<div class="container col-md-12 mx-auto text-center">
  <div class="row">
      <% @procedures.each.with_index(1) do |procedure, index|%>
          <div class="col-md-3 mx-auto">
        <h4>No.<%= "#{index}" %></h4>
        <p>
          <% if procedure.image? %>
            <%= image_tag procedure.image.url, class: "procedure_image", size: '200x200' %>
          <% else %>
            <%= image_tag 'no_image.png', size: '200x200', class: 'procedure_image' %>
          <% end %>
        </p>
        <p>
          <h5 class="m-auto"><%=safe_join(procedure.content.split("\n"),tag(:br))%></h5>
        </p>
    </div>
      <% end %>
  </div>
</div>

<div class="container mt-5">
  <div class="row col-md-8 mx-auto">
    <% if @article.status == 'private' %>
    <p>
      <h5>作業日:</h5>
      <h6 class="mt-1 mr-3"><%= @article.date.strftime("%Y/%m/%d") %></h4>
    </p>

    <p>
      <h5>期限:</h5>
      <h6 class="mt-1"><%= @article.deadline.strftime("%Y/%m/%d") %></h6>
    </p>
    <% end %>

<div class="container mt-5">
  <div class="row col-md-10 mx-auto">
    <% if user_signed_in? %>
      <div id = "favorite_<%= @article.id %>" class="mr-3">
        <%= render partial: 'favorites/favorite', locals: { article: @article } %>
      </div>

      <div id = "like_<%= @article.id %>" class="mr-3">
        <%= render partial: "likes/like", locals: { article: @article } %>
      </div>

      <p class="mr-3">投稿者:<%= link_to @article.user.name, user_path(@article.user) %></p>

    <% if user_signed_in? && @article.user == current_user %>
      <a class= "mr-2" ><%= link_to '編集', edit_article_path(@article), class: "btn btn-success"%></a>
      <a class= "mr-3" ><%= link_to '削除', @article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></a>
    <% end %>

      <% unless @article.user_id == current_user.id %>
        <%= render 'users/follow_form', user: @article.user %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container mt-5" style=" margin-bottom: 200px;">
  <div class="row col-md-8 mx-auto">
    <p>コメント一覧</p>

    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, article: @article } %>
    </div>

    <%= render partial: 'comments/form', locals: { comment: @comment, article: @article } %>
  </div>
</div>
