<%
=begin%>
 <h1>ユーザー編集</h1>

<%= form_with(model: @user, local: true) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :プロフィール画像 %>
  <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
  <%= form.file_field :image, class: 'form-control' %>
  <%= form.hidden_field :image_cache %>

  <%= form.label :profile %>
  <%= form.text_area :profile %>

  <%= form.submit "編集する" %>
<%end%> 
<%
=end%>
