<div class="container">
  <div class="row m-auto">
    <% if user_signed_in? && @user == current_user %>
      <h1>マイページ</h1>
    <% else %>
      <h1><%= @user.name %>さんのページ</h1>
      <%= render 'follow_form', user: @user %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% if user_signed_in? && @user == current_user %>
      <%= link_to "プロフィール編集", edit_user_registration_path(current_user) %><br>
      <%= link_to "フォロー", followings_user_path(@user) %><br>
      <%= link_to "フォロワー", followers_user_path(@user) %><br>
      <%= link_to "お気に入り", article_favorites_path(@user) %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <% if @user.image? %>
        <%= image_tag @user.image.url, class: 'profile_image' %>
      <% else %>
        <%= image_tag 'icon.jpeg', class: 'profile_image' %>
      <% end %>
      <h5>プロフィール画像</h5>
    </div>
    <div class="col-md-6 m-auto">
      <h5>ユーザー名: <%= @user.name %></h5><br>
      <h5>プロフィール</h5>
      <% if @user.profile? %>
      <h5 class="w-break"><%=safe_join(@user.profile.split("\n"),tag(:br))%></h5>
      <% end %>
    </div>
  </div>
</div>


<h4 class="profile text-center"><%= @user.name %>さんの投稿</h4>
<% @user.articles.each do |article| %>
<div class="container">
  <div class="card mb-4 text-center", style="height: 100px" >
    <div class="row no-gutters">
      <div class="col-md-4">
        <% if article.image? %>
          <%= link_to (image_tag article.image.url, class: 'mx-auto d-block'), article %>
        <% else %>
          <%= link_to (image_tag 'no_image.png', size: '300x200', class: 'mx-auto d-block'), article %>
        <% end %>
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <h3><%= article.title %></h3>
          <p>更新日:<%= article.updated_at.strftime("%Y/%m/%d") %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
