  <%= form_for :procedure  do |procedure| %>

  <div class="field">
    <%= procedure.label :image %>
    <%= procedure.file_field :image %>
    <%= procedure.hidden_field :image_cache %>
  </div>

  <div class="field">
    <%= procedure.label :content %>
    <%= procedure.text_area :content %>
  </div>

  <div class="field">
    <%= procedure.label :date %>
    <%= procedure.date_field :date %>
  </div>

  <div class="field">
    <%= procedure.label :deadline %>
    <%= procedure.date_field :deadline %>
  </div>
  <% end %>
