<!DOCTYPE html>
<html>
  <head>
    <title>WISDOM_app</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar sticky-top navbar-light bg-light">
      <a class="navbar-brand pt-5"> <%= link_to "WISDOM", root_path %></a>
      <%= link_to "ホーム", root_path %>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= link_to '管理者画面', rails_admin_path  %>
        <% end %>
        <%= link_to "マイページ", user_path(current_user.id) %>
        <%= link_to 'ユーザー一覧', users_path  %>
        <%= link_to "投稿する", new_article_path %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
        <%= link_to '管理者ゲストログイン', users_admin_guest_sign_in_path, method: :post %>
        <%= link_to "アカウント登録", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
      <% end %>
    </nav>

    <% if current_page?(root_path) || current_page?(articles_path) %>
      <header>
  <div class="jumbotron text-center hero " style="background:url(<%= asset_path 'file6.jpg' %>); background-size:cover; background-position:center bottom;">
          <div class="container">
            <h3 class="top-jumbotron">日頃の家事についての小技や豆知識を共有するアプリです</h3>
            <h5 class="top-jumbotron mt-5">情報を共有して効率化を目指してみましょう</h5>
            <% unless user_signed_in? %>
              <%= link_to "いますぐサインアップする", new_user_registration_path, class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </header>
    <% end %>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error text-center"><%= alert %></p>
    <% end %>
    <%= yield %>
    </div>

      <footer class="footer bg-light text-center text-lg-start">
      <div class="text-center pb-3" style="background-color: rgba(200, 100, 0, 0.2) ;">
        <p>&copy;Place sticky footer content here.</p>
      </div>
    </footer>
  </body>
</html>
